body{
    width:100% ;
}
#head2{
    background-color: aqua;
    width: 100%;
    height: 300px;
    background-image: url(/Asset/img/banner.jpg) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(200, 202, 200, 0.755); 
    background-blend-mode: darken;
    font-family: 'Rajdhani', sans-serif;  
} 
#head1{
    background-color: rgb(7, 7, 7);  
}
#Title-header >p{
    letter-spacing: 2px;
}
#Title-header >h1{
    letter-spacing: 1px;
}
#Container{
    width: 100%;
    height: auto;
    margin: auto;
    background-image: linear-gradient(to right, rgba(243, 100, 185, 0.916) , rgb(106, 228, 244));
}
#galery{
    background-color: rgba(221, 210, 215, 0.573);  
}
#img1{
    position: relative;
    top: 5px;
    left: auto;
    width: 272px;
    height: 142px;
    display: block;
}
#item-text{
    width: 100%;
    height: auto;
    background-image: url(/Asset/img/fondo.jpg) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(83, 83, 77, 0.7); 
    background-blend-mode: darken; 
}
#cont{
    background-color: rgba(169, 250, 123, 0.649); 
}
footer{
    width: 100%;
    height: auto;
    background-color: rgba(197, 197, 234, 0.708);
}
#incons1{
    color: blue;
}
#incons2{
    color: rgb(72, 205, 222);
}
#incons3{
    color: red;
}
#incons4{
    color: rgb(213, 34, 151);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: rgb(27, 205, 45);
    font-size: 20px;
  }
  
 