@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil:ital@1&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#head{
    background-color: aqua;
    width: 100%;
    height: 300px;
    background-image: url(/Asset/img/banner.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(221, 31, 31, 0.7); 
    background-blend-mode: darken;
    font-family: 'Rajdhani', sans-serif;
}
:root{
   ---bg:rgb(4, 255, 0);
  ---bg1:rgb(255, 208, 0); 

}
#head2{
    background-color: aqua;
    width: 100%;
    height: 200px;
    background-image: url(/Asset/img/banner.jpg) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(228, 92, 24, 0.7); 
    background-blend-mode: darken;
    font-family: 'Rajdhani', sans-serif;  
} 
#Title-header >h1{
    font-family: 'Gentium Plus', serif;  
    font-size: 60px;
    font-feature-settings: 50px;
    color: var(---bg);
    border-color: black;
}
#Title-header >p{
    font-family:'Gentium Plus', serif;
    letter-spacing: 2px;
    color:var(---bg1);
}
#head1 a{
    font-family: 'Noto Serif', serif;
}
#Container{
    background-color: aqua;
    width: 100%;
    height: auto;
    background-image: url(/Asset/img/fondo.jpg) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(83, 83, 77, 0.7); 
    background-blend-mode: darken; 
}
#galery{
    background-color: rgba(105, 187, 187, 0.7);    
}
#img1{
    position: relative;
    top: 5px;
    left: auto;
    width: 272px;
    height: 142px;
    display: block;
}
#galery h2{
    font-family: 'Noto Serif', serif;
    font-size: 18px; 
}
#item-text{
    width: 100%;
    height: auto;
    /*font-family: 'Tiro Tamil', serif;
    font-family: 'Rajdhani', sans-serif;*/
}
#item-text h3{
    font-family: 'Tiro Tamil', serif; 
    font-size: 19px;
    font-feature-settings: 10px;
    width: 70%;
}
#img2 {
    position: relative;
    top: -4px;
    left: auto;
    width: 414px;
    height: 262px;
    display: block;
}
#item-text button{
    color: rgb(203, 227, 227);
    background-color: blue;
    height: 50px;
    width: 190px;
    font-family: 'Tiro Tamil', serif;
}
#item-text button:hover{
    background-color: rgba(206, 218, 211, 0.7);  
    color: #000;
}
.item{
    background-color: aqua;
    width: 100%;
    height: auto;
    background-image: url(/Asset/img/fondo.jpg) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(83, 83, 77, 0.7); 
    background-blend-mode: darken;   
}